.parrafo-sobre-mi {
  padding-left: 1rem;
  padding-right: 1rem; }

body {
  background-color: #F1F1F1; }

/*trabajo en 480p*/
/*titulo*/
.div-titulo {
  background-color: #7070EF;
  color: #F1F1F1; }
  .div-titulo h1 {
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-size: 4rem; }
  .div-titulo h2 {
    text-align: end;
    font-family: "Cormorant Garamond", serif;
    font-size: 2rem;
    margin-right: 1rem; }

/*tecnologias*/
.logos-tecnologias ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly; }
  .logos-tecnologias ul li {
    font-size: 2.5rem;
    color: #7070EF; }

/*navbar*/
.barra-navegacion ul {
  display: flex;
  list-style: none;
  background-color: #7070EF;
  justify-content: space-evenly; }
  .barra-navegacion ul a {
    text-decoration: none; }
    .barra-navegacion ul a li {
      font-size: 1rem;
      color: #F1F1F1;
      font-family: "Cormorant Garamond", serif; }

/*foto y el sobre mi*/
.foto-sobre-mi {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .foto-sobre-mi img {
    height: 150px;
    width: 120px;
    margin-bottom: 1.5rem; }

.parrafo-sobre-mi {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #F1F1F1;
  background-color: #7070EF;
  text-align: center; }
  .parrafo-sobre-mi h1 {
    font-family: "Cormorant Garamond", serif;
    font-size: 3rem; }
  .parrafo-sobre-mi p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem; }

/*ESTUDIOS*/
