$letra-cuerpo: 'Roboto', sans-serif;
$letra-titulos: 'Cormorant Garamond', serif;
$color-principal: #7070EF;
$color-secundario: #F1F1F1;


//extend  @extend %borde
%borde-margin{
    margin-left: 1rem;
    margin-right: 1rem;
};

%borde-padding{
    padding-left: 1rem;
    padding-right: 1rem;
};